{% extends 'shop/home_index.html' %}
{% block body %}


    <form method="post" action="/product_finder/search_payment/#id">
        {% csrf_token %}
        <table class="pull-left">
            <tr>
                <th>From date</th>
                    <td><input type="date" name="sdate" required class="form-control"></td>
                   <th>To date</th>
                    <td><input type="date" name="edate" required class="form-control"></td>
                   <td> <input type="submit" value="search" class="btn btn-primary"></td>
            </tr>
        </table>
    </form>
<br>
    <table class="table table-hover">
        <tr>
            <th>Slno</th>
            <th>amount</th>
            <th>Date</th>
            <th>Product</th>
            <th>Customer</th>
        </tr>

        {% for i in data %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.amnt }}</td>
                <td>{{ i.p_date }}</td>
                <td>{{ i.ORDER.PRODUCT.Product_name }}</td>
                <td>{{ i.ORDER.ORDER_MAIN.CUSTOMER.c_name }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}