<html lang="zxx">
<head>
    <title>NearBuy Login</title>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="/static/login/css/style.css" type="text/css" media="all" />

</head>

{% load static %}
<body style="background: url('{% static 'web/images/leaves.jpg' %}') no-repeat center center fixed; background-size: cover; width: 100vw; height: 100vh; margin: 0; padding: 0;">

    <div class="signinform">

        <!-- container -->
        <div class="container">
            <!-- main content -->
            <div class="w3l-form-info">
                <div class="w3_info">
                    <h2> Sign in to NearBuy!</h2>
                    <form action="/product_finder/login_post/" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <span><i class="fas fa-user" aria-hidden="true"></i></span>
                            <input type="text" placeholder="Username or Email" required="" name="nm">
                        </div>
                        <div class="input-group">
                            <span><i class="fas fa-key" aria-hidden="true"></i></span>
                            <input type="Password" placeholder="Password" required="" name="ps">
                        </div>
                        <div class="form-row bottom">
                            <div class="form-check">
                                <input type="checkbox" id="remenber" name="remenber" value="remenber">
                                <label for="remenber"> Remember me?</label>
                            </div>

                        </div>
                        <button class="btn btn-primary btn-block" type="submit">Login</button>
                    </form>

                    <p class="account">New to NearBuy? <a href="/product_finder/shop_register/">Sign Up Now!</a></p>
                </div>
            </div>
        </div>

    </div>

</body>
<script>
    document.body.style.overflow = 'hidden';
    document.documentElement.style.overflow = 'hidden';
</script>


</html>